@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Lexend", sans-serif !important;
  margin: 0;
  padding: 0;
}
body {
  min-width: 1200px;
}
@media all {
  .page-break {
    display: none;
  }
}
@page {
  margin: 1rem !important;
}

@media print {
  html,
  body {
    height: initial !important;
    min-width: auto !important;
  }
}

@media print {
  .page-break {
    margin-top: 1rem;
    display: block;
    page-break-before: auto;
  }
}

.inputs .inputTitle {
  font-size: 12px !important;
  font-weight: 500 !important;
  color: #121127 !important;
  margin-bottom: 8px;
}
.Toastify__toast-body {
  white-space: pre-line;
  font-size: 12px;
}
::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #f9f9fb inset !important;
}

input {
  padding: 10px 12px !important;
  border-radius: 4px !important;
}

select {
  background-color: #f9f9fb !important;
}

.css-1c1vaai {
  z-index: 5000;
}
.title {
  color: #496ad0 !important;
  font-weight: 600 !important;
  cursor: pointer;
}

.titleHeader {
  font-size: 16px;
  color: #121127;
  font-weight: 500 !important;
}
& .MuiAutocomplete-input {
  padding: 0 !important;
}
& .MuiAutocomplete-root .MuiAutocomplete-inputRoot,
.MuiSelect-select {
  padding: 10px 12px !important;
}
& .MuiAutocomplete-inputRoot {
  height: 41px !important;
}

& .MuiInputBase-root {
  border: 2px solid #f3f3f6 !important;
  transition: 250ms all ease-in-out !important;
}

& .MuiInputBase-root:not(.Mui-disabled):hover {
  transition: 250ms all ease-in-out !important;
  border: 2px solid #4e8af4 !important;
}

input[type="search"]::-webkit-search-cancel-button {
  cursor: pointer;
}

/* 
.calendar {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100 !important;
} */
.nepali-date-picker > input {
  border: none;
}
.nepali-date-picker,
.nepali-date-picker > input {
  background-color: #f9f9fb !important;
  padding: 4px !important;
  border-radius: 4px !important;
  outline: none !important;
  margin-top: 3px !important;
  width: 100%;
}

.nepali-date-picker {
  /* outline:1px solid #2563eb !important; */
  border: 2px solid #48484810 !important;
}

.month-day {
  cursor: pointer !important;
}

.checkCircle {
  color: #00c770 !important;
}


.is_default{
  background-color: #e7e7e790;  
}